@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yellowtail&display=swap');

.service-page {
    min-height: 70vh;
    padding: 0 5%;
    background-color: #f0f0f0;
    color: #1a1a1a;
    display: flex;
    gap: 50px;
    max-width: 1400px;
    margin: 70px 120px ;
    margin-bottom: 0%;
    border-bottom: #1a1a1a 2px solid;
}

.service-item-left,
.service-item {
    flex: 0 0 50%;
    box-sizing: border-box;
}


.main-tittle {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 100; 
    font-family: 'Yellowtail', cursive;
    text-align: left;
    margin: 40px 0;
}

.service-item-left {
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    line-height: 1.6;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cta-button {

    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    width: 50%;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;

}

.service-item-left p {
    font-size: 0.9rem;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: start;
}

.service-item {
    width: 100%;
    padding-top: 70px;
}

.service-item h2{
    text-align: right;
    width: 100%;
    padding: 0px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 0px;

}

.flecha-abajo {
    width: 100%;
    padding-right: 150px;
    color: #1a1a1a;
    font-size: 3.5rem;
    text-align: end;
}

.image-container {
    height: auto;
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: visible;

}

.image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    translate: -50px 

}
.service-details-section {
    background-color: #c5c5c5;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Yellowtail', cursive;
    display: flex;
    flex-direction: row;
    padding: 0px 120px ;

}
.container-image2,
.details{
    flex: 0 0 50%;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.image2 {
    width: 600px;
    height: auto;

}

.details {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #1a1a1a;
}

@media (max-width: 768px) {
  .service-page {
    flex-direction: column;
  }
  .service-item-left,
  .service-item-right {
    flex: 0 0 100%;
  }
}
